/*INDICE DE ESTILOS
0. Generales / colores
1. Tipografías
2. Header / Cabecera
3. Enlaces / Botones
4. Areas destacadas
5. Area Experiencias (Video)
*/

/*0. Generales / colores*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --color-principal: #1d56dc;
  --color-acento: #19A8E1;
  --color-tercer: #E1B619;
  --color-texto: #303134; 
}

img{
    width: 100%;
}

/* Tipografías */
.titulo-principal{
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-principal);
    font-size: 35px;
    text-align: center;
}

.titulo-secundario{
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-acento);
    font-size: 22px;
}

.titulo-experiencias{
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 35px;
    text-align: center;
}

.parrafo{
    font-family: "Gilda Display", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-texto);
    font-size: 18px;
}

.texto-oculto{
    display: none;
}

/* Header / Cabecera*/
#cabecera-principal{
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    /* Borde: grosor tipo color; */
    border-bottom: 3px solid var(--color-principal);
}

/* 3. Enlaces / Botones */

.boton-principal{
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-principal);
    font-size: 20px;
    /* Quito la línea inferior*/
    text-decoration: none;
    /*Asigno cuerpo por medio del relleno*/
    padding: 8px 15px 8px 15px;
    /*animación del paso del mouse*/
    transition: all linear 0.3s;
}

.boton-secundario{
    font-family: "DM Serif Display", serif;
    font-weight: 200;
    font-style: normal;
    color: #0681b1;
    font-size: 18px;
    text-decoration: none;
    padding: 6px 10px 6px 0;
    transition: all linear 0.5s;
}

.boton-secundario:hover{
    color: white;
    background-color: #19A8E1;
    border-radius: 5px;
    padding: 6px 10px 6px 10px;
}

/*cambio de color al pasar el mouse encima del botón*/
.boton-principal:hover{
    color: white;
    background-color: var(--color-principal);
    /*Redondeo los bordes*/
    border-radius: 5px;
}

/*4. Areas destacadas*/
.elements-row{
    display: flex;
    justify-content: space-around;

}

#area-destacada{
    padding: 100px 0;
}

.articulo-index{
    /*relleno: top right bottom left*/
    padding: 20px;
}

.articulo-index *{
    
     /*relleno: top right bottom left*/
    margin: 0 0 10px 0;
}

/*5. Area Experiencias (Video)*/
#area-experiencias{
    padding: 100px;
    background: url(assets/fondo-buenos-aires.png) center center no-repeat rgb(0,0,0,0);
    background-size: cover;
}

#area-experiencias video{
    margin: 30px 5%;
}
/* Responsive */
@media only screen and (max-width: 600px){

    .elements-row{
        flex-direction: column;
        align-items: center;
    }

    /* 2.Header / Cabecera */
    #cabecera-principal{
    flex-direction: column;
    padding: 20px 0 20px 0; 
    }

    /* 3. Enlaces / Botones */
    nav [role=navigation]{
        width: 100%;
    }
    .boton-principal{
        /* Se comporte como un bloque */
        display: block;
        /* ancho */ 
        width: 96%;
        /* margen */
        margin: 5px 2% 5px 2%;
        /* alineación al centro */
        text-align: center;
        /* borde inferior */
        border-bottom: 1px solid var(--color-principal);
    }

}